body {
  background-image: linear-gradient(180deg, #1F8664 0%, #064140 40%, #064140 120%);
  background-color: #064140;
  height: 100%;
  min-height: 100vh;
  color: white;
}

.App {
  text-align: center;
}

::-webkit-input-placeholder {
   text-transform: initial;
}

:-moz-placeholder {
   text-transform: initial;
}

::-moz-placeholder {
   text-transform: initial;
}

:-ms-input-placeholder {
   text-transform: initial;
}

/* DEBUG */
ul{
  list-style: none;
  padding: 0;
}
